:root {
    --syntax-code-border-color: rgb(255, 255, 255, 0.1);
    --background: color-mix(in srgb, var(--accent) 2%, #1d1e28 98%);
}

pre .chat,.chat-container {
    margin-left: 1rem;
    border: none;
    white-space: pre-wrap;
}

pre code .chat,.chat-container {
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    font-size: 1rem;
    color: var(--color);
    white-space: pre-wrap;
    display: block;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    max-width: 864px;
    margin: 0 auto;
    background: color-mix(in srgb, var(--background) 80%, rgb(255, 255, 255, 0.1) 20%);
    border: 1px solid var(--syntax-code-border-color);
}
.chat {
    display: auto;
    width: auto;
    height: auto;
    border-radius: 4px;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid color-mix(in srgb, var(--background) 80%, rgb(255, 255, 255, 0.5) 20%);
    background: color-mix(in srgb, var(--background) 80%, rgb(255, 255, 255, 0.5) 20%);
    padding: 1rem;
    max-width: 80%;
}
.right {
    margin-left: auto;
    border: color-mix(in srgb, var(--background) 70%, var(--accent) 30%);
    background: color-mix(in srgb, var(--background) 70%, var(--accent) 30%);
}
.left {
    margin-right: auto;
}
.wrapper {
    display: flex;
}
.user-icon {
    display: auto;
    position: relative;
    margin-bottom: calc(3rem / 4);
    margin-top: auto;
    margin-right: 1rem;
    height: 3rem;
    border-radius: 0.5rem;
}
